
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6f0c7ad6; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
  }
  
  nav h3 {
    margin: 0;
  }
  
  nav div {
    display: flex;
    align-items: center;
  }
   
  nav a {
    color: white; /* Cambia el color del enlace según tus preferencias */
    text-decoration: none;
    margin: 0 10px; /* Ajusta el margen entre los elementos de la Navbar */
  }
  
  nav input {
    padding: 5px;
    margin-right: 10px; /* Ajusta el margen del campo de búsqueda */
  }
  div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}


div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
  
  /* Añade más estilos según tus necesidades */
  